

.cabecalho {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      display: inline;
      margin-right: 20px;
  
      .active {
        font-weight: bold;
      }
  
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
  
 
  
  
        &:hover {
          background-color: #111 ;
          border-radius: 10px;
        }
      }
    
  
    .active {
      background-color: red !important;
      border-radius: 10px;
    }
  }
}
  