.Cabecalho {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      display: inline;
      margin-right: 20px;
  
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
  
        &:hover {
          border-radius: 10px;
          background-color: #ddd;
          color: #000;
        }
      }
    
  
    .active {
      background-color: #4CAF50 !important;
      color: #fff;
      border-radius: 10px;
    }
  }
}
  